<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>EnergyTrading.Logging.WebApiRestServer</title>
</head>
<body>
    <div>
        EnergyTrading.Logging.WebApiRestServer v1.0
    </div>
</body>
</html>
